html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
h2, p {
    margin: 0;
}

@font-face {
    font-family: 'Norse Bold';
    src: url(./fonts/Norse-Bold.otf);
}

body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#main-container {
    width: 90%;
    height: 90%;
    max-width: 1100px;

    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 5px rgba(3, 3, 3, 0.2); 

    display: flex;
    align-self: center;
    align-items: center;
}

.main {
    width: 100%;
    height: 100%;
}

.logo {
    flex: 1 2 auto;
}
.logo > img {
    max-inline-size: 100%;
    block-size: 100%;
    aspect-ratio: 1/2;
    object-fit: cover;
    object-position: top center;
    border-radius: 10px 0 0 10px;
}
.overlay {
    position: relative;
    width: 100%;
    padding: 10px;
    top: -75vh;
    background-color: rgba(3, 3, 3, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}
.odin-logo {
    width: 100%;
    max-width: 80px;
    height: auto;
}
.odin-text {
    margin: 0 10px;

    font-family: 'Norse Bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 5rem;
    color: whitesmoke;
}

.content {
    flex: 2 1 auto;
    background-color: #f0f0f0;
}
.section {
    width: 100%;
    padding: 20px;
}

.section.first {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.section.first p{
    font-size: 1.2rem;
    font-weight: 500;
}
.section.first p:last-child {
    margin: 20px 0;
}

/* Form */
.section.second {
    height: 45%;
    background-color: #f6f6f6;
    box-shadow: 0px 5px 10px rgba(3, 3, 3, 0.1);
    padding: 10px 20px;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
form div {
    display: flex;
    flex-direction: column;
}
h2 {
    width: 100%;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}
label {
    font-size: 0.8rem;
    font-weight: 500;
}

input {
    appearance: none;
    outline: none;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    background-color: #f6f6f6;
    width: 250px;
    padding: 0.4rem 0.8rem;
}
input:-webkit-autofill {
    /* Fix autofill-select bg-color change (blue) */
    -webkit-box-shadow: 0 0 0 30px #f6f6f6 inset;
}
input + span {
    position: relative;
}

input:required + span::after {
    font-size: 0.75rem;
    position: absolute;
    content: "required";
    color: white;
    background-color: #333;
    border-radius: 4px;
    padding: 1px 6px;
    top: -48px;
    left: 190px;
}
input:focus {
    border: 1px solid royalblue;
    box-shadow: 2px 2px 8px rgba(3, 3, 3, 0.3);
}
/* input:invalid:not(:placeholder-shown) {
    border: 1px solid crimson;
} */

input + span::before {
    position: absolute;
    right: 10px;
    top: -24px;
}
/* input:invalid + span::before {
    content: "✖";
    color: red;
} */
  
input:valid + span::before {
    content: "✓";
    color: green;
}
input[type='password']:invalid:not(:placeholder-shown) {
    border: 1px solid crimson;
}
#password1:invalid + span::before {
    content: "* Passwords do not match";
    width: max-content;
    font-size: 0.8rem;
    color: red;

    left: 2px;
    top: 0px;
}

.section.third {
    height: 30%;
}
button {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 20px 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 0.2em 1.5em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}
   
button:disabled {
    pointer-events: none;
}

button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}
button + p {
    font-size: 0.9rem;
    font-weight: 500;
}
p a {
    text-decoration: none;
}


@media (max-width: 800px) {
    .odin-logo {
        max-width: 60px;
    }
    .odin-text {
        margin: 0 8px;

        font-size: 3rem;
    }    
}